aps-core/CommonProjects/ServerManagerSharedLib/Service References/KeyService/KeyService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:45456/app/KeyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LicenseServices" />
  <xs:element name="GetLastKeyUpdateDateTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LicenseServices" minOccurs="0" name="a_request" nillable="true" type="q1:GetLastKeyUpdateDateTimeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastKeyUpdateDateTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LicenseServices" minOccurs="0" name="GetLastKeyUpdateDateTimeResult" nillable="true" type="q2:GetLastKeyUpdateTimeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LicenseServices" minOccurs="0" name="a_request" nillable="true" type="q3:GetLatestKeyRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LicenseServices" minOccurs="0" name="GetLatestKeyResult" nillable="true" type="q4:GetLatestKeyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToSystemIdKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LicenseServices" minOccurs="0" name="a_request" nillable="true" type="q5:ConvertKeyRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToSystemIdKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LicenseServices" minOccurs="0" name="ConvertToSystemIdKeyResult" nillable="true" type="q6:ConvertKeyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLicenseId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LicenseServices" minOccurs="0" name="a_request" nillable="true" type="q7:UpdateLicenseIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLicenseIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LicenseServices" minOccurs="0" name="UpdateLicenseIdResult" nillable="true" type="q8:UpdateLicenseIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyLicenseData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LicenseServices" minOccurs="0" name="a_request" nillable="true" type="q9:GetCompanyLicenseDataRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyLicenseDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LicenseServices" minOccurs="0" name="GetCompanyLicenseDataResult" nillable="true" type="q10:GetCompanyLicenseDataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>