aps-core/CommonProjects/ServerManagerSharedLib/Service References/LicenseService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LicenseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ILicenseService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LicenseServices" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/APSLicenseServicesCommon.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILicenseService_Lock_InputMessage">
    <wsdl:part name="parameters" element="tns:Lock" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_Lock_OutputMessage">
    <wsdl:part name="parameters" element="tns:LockResponse" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_Release_InputMessage">
    <wsdl:part name="parameters" element="tns:Release" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_Release_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseResponse" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_GetLicenseInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseInfo" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_GetLicenseInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ILicenseService">
    <wsdl:operation name="Lock">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicenseService/Lock" message="tns:ILicenseService_Lock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicenseService/LockResponse" message="tns:ILicenseService_Lock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicenseService/Ping" message="tns:ILicenseService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicenseService/PingResponse" message="tns:ILicenseService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Release">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicenseService/Release" message="tns:ILicenseService_Release_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicenseService/ReleaseResponse" message="tns:ILicenseService_Release_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicenseService/GetLicenseInfo" message="tns:ILicenseService_GetLicenseInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicenseService/GetLicenseInfoResponse" message="tns:ILicenseService_GetLicenseInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILicenseService" type="tns:ILicenseService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ILicenseService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Lock">
      <soap:operation soapAction="http://tempuri.org/ILicenseService/Lock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/ILicenseService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Release">
      <soap:operation soapAction="http://tempuri.org/ILicenseService/Release" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseInfo">
      <soap:operation soapAction="http://tempuri.org/ILicenseService/GetLicenseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LicenseService">
    <wsdl:port name="BasicHttpBinding_ILicenseService" binding="tns:BasicHttpBinding_ILicenseService">
      <soap:address location="https://localhost:45455/LicenseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>