aps-core/CommonProjects/ServerManagerSharedLib/Service References/LicenseService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LicenseServices" />
  <xs:element name="Lock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LicenseServices" minOccurs="0" name="a_request" nillable="true" type="q1:LockLicenseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LicenseServices" minOccurs="0" name="LockResult" nillable="true" type="q2:LockLicenseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LicenseServices" minOccurs="0" name="a_request" nillable="true" type="q3:PingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LicenseServices" minOccurs="0" name="PingResult" nillable="true" type="q4:PingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Release">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LicenseServices" minOccurs="0" name="a_request" nillable="true" type="q5:ReleaseLicenseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LicenseServices" minOccurs="0" name="ReleaseResult" nillable="true" type="q6:ReleaseLicenseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LicenseServices" minOccurs="0" name="a_request" nillable="true" type="q7:GetLicenseInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LicenseServices" minOccurs="0" name="GetLicenseInfoResult" nillable="true" type="q8:GetLicenseInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>